.review-notes textarea {
    resize: none;
    width: 284px;
    height: 60px;
    box-sizing: border-box;
    margin: 4px 8px;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes label.left {
    padding: 0;
    margin: 0 0 4px 10px;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes .cms-sitetree-information p.meta-info {
    color: #f46b00;
    font-weight: bold;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset ul.ui-tabs-nav li.contentreview-tab a {
    width: 20px;
    height: 20px;
    background: url('../images/icon-bell.png') center center no-repeat;
    background-position: 0 0;
    text-indent: -9999px;
    padding: 0;
    margin: 2px 4px 0 12px;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset ul.ui-tabs-nav li.contentreview-tab a:hover,
.cms .ss-ui-action-tabset.action-menus.ss-tabset ul.ui-tabs-nav li.contentreview-tab a:focus {
    background-position: 0 -20px;
} 

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel.contentreview-tab {
    max-width: 300px;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes button {
    margin: 4px 10px 8px;
    font-weight: bold;
    color: #393939;
    border: 1px solid #c0c0c2;
    border-bottom: 1px solid #a6a6a9;
    cursor: pointer;
    background-color: #e6e6e6;
    background: linear-gradient(#ffffff, #d9d9d9);
    text-shadow: white 0 1px 1px;
    width: auto;
    border-radius: 4px;
    padding: 0;
    white-space: nowrap;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes button:hover,
.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes button:focus {
    text-decoration: none;
    background: linear-gradient(#ffffff, #e6e6e6);
    box-shadow: 0 0 5px #b3b3b3;
}

.cms .ss-ui-action-tabset.action-menus.ss-tabset .ui-tabs-panel .review-notes button .ui-button-text {
    padding: .4em 1em .4em 2.1em;
}
