.cms {
  // The textarea for entering review comments
  .review-notes textarea {
    box-sizing: border-box;
    height: 60px;
    margin: 4px 0;
    resize: none;
  }

  .ss-ui-action-tabset.action-menus.ss-tabset {
    .ui-tabs-panel .review-notes {
      label.left {
        margin: 0;
        padding: 0;
      }

      .btn {
        width: auto;
      }
    }

    // The icon showing that reviews are required (shows next to actions dropdown)
    .ui-tabs-nav .contentreview-tab a {
      width: 20px;
      height: 20px;
      background: url("images/icon-bell.png") center center no-repeat;
      background-position: 0 0;
      text-indent: -9999px;
      padding: 0;
      margin: 2px 4px 0 12px;

      &:hover,
      &:focus {
        background-position: 0 -20px;
      }
    }
  }

  // The box container for the popup
  .ui-tabs-panel.contentreview-tab .form-group {
    .form__fieldgroup {
      margin: 0;
      min-width: 250px;
    }

    &:after {
      border-bottom: 0;
    }
  }
}
